* {
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Kanit', sans-serif;
  /*font-family: 'Covered By Your Grace', cursive;*/
  /*font-family: 'Bowlby One SC', cursive;*/
  /*font-family: 'Kanit', sans-serif;*/
  /*font-family: 'Courgette', cursive;*/
  /*font-family: 'Permanent Marker', cursive;*/
  /*font-family: 'Raleway', sans-serif;*/
 }

 .outershell {
  width: 98vw;
  height: 98vh;
  display: flex;
  background-image: url('https://res.cloudinary.com/dckkkjkuz/image/upload/v1501524783/fireworks/blue-starry-night.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.innershell {
  /*background-color: orange;*/
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.title {
  /*background-color: black;*/
  margin: 5px;
  padding: 5px;
    font-family: 'Monoton', 'Kanit', sans-serif;
  font-size: 50px;
  letter-spacing: 3px;
  color: white;
  /*font-weight: bold;*/
 }

.filler {
  /*background-color: grey;*/
  flex: 1;
  margin: 5px;
  padding: 5px;
}

.main {
  /*background-color: blue;*/
  display: flex;
  flex-direction: row;
  justify-content: bottom;
  margin: 5px;
  padding: 5px;
}

.control-container {
  background-color: yellow;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.button {
  height: 20px;
  width: 100px;
  background-color: pink;
  white-space: nowrap;
  margin: 5px 0px 5px 0px;
  cursor: pointer;
}

#demo {

}

#F1 {

}

.canvas-container {
  /*background-color: lightblue;*/
  margin: 5px;
  padding: 5px;
  display: flex;
}

#myCanvas {
  border: 2px;
  border-color: white;
  border-style: dashed;
}
