* {
  font-family: 'Covered By Your Grace', sans-serif;
 }

 .outershell {
  width: 98vw;
  height: 98vh;
  display: flex;
  background-image: url('https://res.cloudinary.com/dckkkjkuz/image/upload/v1501524783/fireworks/blue-starry-night.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.innershell {
  /*background-color: orange;*/
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.title {
  /*background-color: black;*/
  margin: 5px;
  padding: 5px;
  font-size: 40px;
  letter-spacing: 1px;
  color: white;
 }

.filler {
  /*background-color: grey;*/
  flex: 1;
  margin: 5px;
  padding: 5px;
}

.main {
  /*background-color: blue;*/
  display: flex;
  flex-direction: row;
  justify-content: bottom;
  margin: 5px;
  padding: 5px;
}

.control-container {
  background-color: yellow;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.canvas-container {
  /*background-color: lightblue;*/
  margin: 5px;
  padding: 5px;
  display: flex;
}

#myCanvas {
  border: 2px;
  border-color: white;
  border-style: dashed;
}
